<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/users}" th:object="${user}">
    <label for="id">Id</label>
    <input type="text" value="" th:field="*{id}" id="id"/>
    <br/>
    <label for="name">Enter name: </label>
    <input type="text" th:field="*{firstName}" id="name"/>
    <br/>
    <label for="last_name">Enter last name: </label>
    <input type="text" th:field="*{lastName}" id="last_name"/>
    <br/>
    <input type="submit" value="Update"/>
</form>

</body>
</html>